<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/v1/style.css" />
    <link rel="shortcut icon" href="images/favicon/favicon.ico" />
  </head>
  <body>
    <div>Breadcrumb: {{{breadcrumb}}}</div>
    <h1>{{title}}</h1>

    <div>Navigation: {{{navigation_list}}}</div>
    <div>Content: {{> (lookup . 'markdown_file') }}</div>

  </body>
</html>
