<p>We build software that ingests, curates, stores, queries and displays structured data that can help researchers answer questions about entities such as historical persons, places, objects, and events or survey linguistic phenomena. Our Team Lead is Menzo Windhouwer.</p>

<p>Structured Data builds software that provides users with insight into datasets. Software that ingests, curates, stores, queries, and displays structured data with the goal of creating a knowledge graph that, for example, can answer ‘who’, ‘what’, ‘where’, and ‘when’ questions.</p>

<p>The team develops tools for managing data for various formats. In addition to applications with a graphical interface, the SD team offers infrastructure with programming interfaces (APIs) such as GraphQL. This allows us to build custom applications, offer reconciliation and alignment methods to curate datasets, and archive data.</p>

<h2>Team</h2>

<ul><li>Kerim Meijer  (<a href="https://pure.knaw.nl/portal/en/searchAll/index/?search=kerim+meijer&amp;pageSize=25&amp;showAdvanced=false&amp;allConcepts=true&amp;inferConcepts=true&amp;searchBy=PartOfNameOrTitle">Publications</a>)</li><li>Maarten van der Peet (<a href="https://pure.knaw.nl/portal/en/persons/cm-van-der-peet(bb6b50ef-2de6-4a6d-952c-61dd6af85b9f)/publications.html">Publications</a>)</li><li>Meindert Kroese (<a href="https://pure.knaw.nl/portal/en/persons/meindert-kroese(810a5213-9b6b-4df6-914e-23f6599164b4).html">Publications</a>)</li><li>Menzo Windhouwer (Team Lead) (<a href="https://pure.knaw.nl/portal/en/persons/menzo-windhouwer(c53935f2-24b8-4f07-a8f0-bb0c7a89d5bf)/publications.html">Publications</a>)</li><li>Rob Zeeman (<a href="https://pure.knaw.nl/portal/en/persons/rhm-zeeman(5ae44ddf-5b2f-434a-8ddf-d6caf7a00c7a)/publications.html">Publications</a>)</li></ul>

<h2>Products</h2>

<ul><li><a href="https://github.com/HuygensING/timbuctoo">Timbuctoo RDF store</a> helps you get insights on your RDF dataset.</li><li><a href="https://github.com/knaw-huc/postgres_reconciliation">Reconciliation tools</a> to align the data in your Timbuctoo dataset.</li><li><a href="https://github.com/knaw-huc/clariah-cmdi-forms">CMDI editor</a> simplifies editing CMDI documents</li><li><a href="https://github.com/knaw-huc/kabara">Kabara</a> enables you to run SPARQL queries on your Timbcutoo dataset.</li></ul>

<h2>Sample Projects</h2>

<ul><li><a href="https://www.clariah.nl">CLARIAH</a>, a distributed infrastructure for the humanities and social sciences.</li><li><a href="https://www.clariah.nl/nieuw/nieuws/clariah-plus-gehonoreerd">CLARIAH Plus</a>, creates a national digital infrastructure for the humanities.</li><li><a href="https://www.huygens.knaw.nl/projecten/golden-agents">Golden Agents</a> will connect scattered heterogeneous sources (new and existing) about creative industries in the Golden Age via Linked Open Data.</li></ul>

<h2>Code Repository</h2>

<ul><li><a href="https://github.com/knaw-huc/">GitHub</a></li></ul>

<h2>Contact</h2>

<p><a href="mailto:structured-data@di.huc.knaw.nl">structured-data@di.huc.knaw.nl</a></p>